<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>注册</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="login-box">
  <h2>注册</h2>
  <form action="register" method="post">
    <div class="user-box">
      <input type="text" name="username" required="true">
      <label>用户名</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="true">
      <label>密码</label>
    </div>
    <div class="user-box">
      <input type="password" name="confirm" required="true">
      <label>确认密码</label>
    </div>
    <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <input type="submit" value="注册" style="background: transparent;color: #a2db1c;border: transparent" onclick="alert('注册成功')">
    </a>
    <a class="register" th:href="@{login}" style="color: coral;text-decoration: none;font-size: 15px">已有账号，返回登录</a>
  </form>
</div>
  
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#ffffff">
  <p style="font-size: 40px;color: #6d61ea">Skyward个人云盘</p>
</div>
</body>
</html>